:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Colors */
  --color-neutral-300: #f5f5f5;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #e6e6e6;
  --color-neutral-800: #131313;
  --color-dark: #131313;
  --color-primary: #ff5a00;
  
  /* Spacing */
  --gap: 2rem;
  --container-padding: 2rem;
  --section-padding: 4rem;
  --size-container: 1440px;
  --menu-padding: 2em;
  
  /* Animation */
  --cubic-default: cubic-bezier(0.65, 0.05, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-dark);
  background: var(--color-neutral-300);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b239d7aeb290a31ac5_cursor-default%402x.svg") 2 0, auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg") 12 0, pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
