@font-face {
  font-family: 'PP Neue Montreal';
  src: url('https://cdn.prod.website-files.com/6819ed8312518f61b84824df/6819ed8312518f61b84825ba_PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.osmoUi {
  z-index: 0;
  pointer-events: none;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
}

.cloneable {
  padding: var(--section-padding) var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
  --menu-padding: 2em;
}

.osmoIconSvg {
  width: 8em;
}

.osmoCredits {
  z-index: 999;
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1vw;
}

.osmoCreditsP {
  pointer-events: auto;
  color: rgba(19, 19, 19, 0.5);
  text-align: center;
  margin: 0;
  font-family: PP Neue Montreal, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3;
}

.osmoCreditsA {
  color: var(--color-dark);
}

@media screen and (max-width: 767px) {
  .cloneable {
    --menu-padding: 1em;
  }
}